// Puzzle & Dragons Texture Tool

// data get from apk somewhere like cards_045.bc
// Use tool > $ PADTextureTool.py ./card/cards_045.bc -nt
// to get full png like css sprite image (-nt mean "notrim" from -h)
// and parse position

.icon-card {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-size: 512px auto;
}
.icon-card-asset {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 17.5px;
    height: 20px;
    background-image: url('../images/MENUPARTS1.PNG');
    background-position: -353px 0;
    background-size: 512px auto;
}

.icon-card-001 { background-image: url('../images/card/CARDS_001.PNG'); }
.icon-card-002 { background-image: url('../images/card/CARDS_002.PNG'); }
.icon-card-003 { background-image: url('../images/card/CARDS_003.PNG'); }
.icon-card-004 { background-image: url('../images/card/CARDS_004.PNG'); }
.icon-card-005 { background-image: url('../images/card/CARDS_005.PNG'); }
.icon-card-006 { background-image: url('../images/card/CARDS_006.PNG'); }
.icon-card-007 { background-image: url('../images/card/CARDS_007.PNG'); }
.icon-card-008 { background-image: url('../images/card/CARDS_008.PNG'); }
.icon-card-009 { background-image: url('../images/card/CARDS_009.PNG'); }
.icon-card-010 { background-image: url('../images/card/CARDS_010.PNG'); }
.icon-card-011 { background-image: url('../images/card/CARDS_011.PNG'); }
.icon-card-012 { background-image: url('../images/card/CARDS_012.PNG'); }
.icon-card-013 { background-image: url('../images/card/CARDS_013.PNG'); }
.icon-card-014 { background-image: url('../images/card/CARDS_014.PNG'); }
.icon-card-015 { background-image: url('../images/card/CARDS_015.PNG'); }
.icon-card-016 { background-image: url('../images/card/CARDS_016.PNG'); }
.icon-card-017 { background-image: url('../images/card/CARDS_017.PNG'); }
.icon-card-018 { background-image: url('../images/card/CARDS_018.PNG'); }
.icon-card-019 { background-image: url('../images/card/CARDS_019.PNG'); }
.icon-card-020 { background-image: url('../images/card/CARDS_020.PNG'); }
.icon-card-021 { background-image: url('../images/card/CARDS_021.PNG'); }
.icon-card-022 { background-image: url('../images/card/CARDS_022.PNG'); }
.icon-card-023 { background-image: url('../images/card/CARDS_023.PNG'); }
.icon-card-024 { background-image: url('../images/card/CARDS_024.PNG'); }
.icon-card-025 { background-image: url('../images/card/CARDS_025.PNG'); }
.icon-card-026 { background-image: url('../images/card/CARDS_026.PNG'); }
.icon-card-027 { background-image: url('../images/card/CARDS_027.PNG'); }
.icon-card-028 { background-image: url('../images/card/CARDS_028.PNG'); }
.icon-card-029 { background-image: url('../images/card/CARDS_029.PNG'); }
.icon-card-030 { background-image: url('../images/card/CARDS_030.PNG'); }
.icon-card-031 { background-image: url('../images/card/CARDS_031.PNG'); }
.icon-card-032 { background-image: url('../images/card/CARDS_032.PNG'); }
.icon-card-033 { background-image: url('../images/card/CARDS_033.PNG'); }
.icon-card-034 { background-image: url('../images/card/CARDS_034.PNG'); }
.icon-card-035 { background-image: url('../images/card/CARDS_035.PNG'); }
.icon-card-036 { background-image: url('../images/card/CARDS_036.PNG'); }
.icon-card-037 { background-image: url('../images/card/CARDS_037.PNG'); }
.icon-card-038 { background-image: url('../images/card/CARDS_038.PNG'); }
.icon-card-039 { background-image: url('../images/card/CARDS_039.PNG'); }
.icon-card-040 { background-image: url('../images/card/CARDS_040.PNG'); }
.icon-card-041 { background-image: url('../images/card/CARDS_041.PNG'); }
.icon-card-042 { background-image: url('../images/card/CARDS_042.PNG'); }
.icon-card-043 { background-image: url('../images/card/CARDS_043.PNG'); }
.icon-card-044 { background-image: url('../images/card/CARDS_044.PNG'); }
.icon-card-045 { background-image: url('../images/card/CARDS_045.PNG'); }
.icon-card-046 { background-image: url('../images/card/CARDS_046.PNG'); }
.icon-card-047 { background-image: url('../images/card/CARDS_047.PNG'); }
.icon-card-048 { background-image: url('../images/card/CARDS_048.PNG'); }
.icon-card-049 { background-image: url('../images/card/CARDS_049.PNG'); }
.icon-card-050 { background-image: url('../images/card/CARDS_050.PNG'); }
.icon-card-051 { background-image: url('../images/card/CARDS_051.PNG'); }
.icon-card-052 { background-image: url('../images/card/CARDS_052.PNG'); }
.icon-card-053 { background-image: url('../images/card/CARDS_053.PNG'); }

.ic-001 { background-position: 0 0;}
.ic-002 { background-position: -51px 0;}
.ic-003 { background-position: -102px 0;}
.ic-004 { background-position: -153px 0;}
.ic-005 { background-position: -204px 0;}
.ic-006 { background-position: -255px 0;}
.ic-007 { background-position: -306px 0;}
.ic-008 { background-position: -357px 0;}
.ic-009 { background-position: -408px 0;}
.ic-010 { background-position: -459px 0;}
.ic-011 { background-position: 0 -51px;}
.ic-012 { background-position: -51px -51px;}
.ic-013 { background-position: -102px -51px;}
.ic-014 { background-position: -153px -51px;}
.ic-015 { background-position: -204px -51px;}
.ic-016 { background-position: -255px -51px;}
.ic-017 { background-position: -306px -51px;}
.ic-018 { background-position: -357px -51px;}
.ic-019 { background-position: -408px -51px;}
.ic-020 { background-position: -459px -51px;}
.ic-021 { background-position: 0 -102px;}
.ic-022 { background-position: -51px -102px;}
.ic-023 { background-position: -102px -102px;}
.ic-024 { background-position: -153px -102px;}
.ic-025 { background-position: -204px -102px;}
.ic-026 { background-position: -255px -102px;}
.ic-027 { background-position: -306px -102px;}
.ic-028 { background-position: -357px -102px;}
.ic-029 { background-position: -408px -102px;}
.ic-030 { background-position: -459px -102px;}
.ic-031 { background-position: 0 -153px;}
.ic-032 { background-position: -51px -153px;}
.ic-033 { background-position: -102px -153px;}
.ic-034 { background-position: -153px -153px;}
.ic-035 { background-position: -204px -153px;}
.ic-036 { background-position: -255px -153px;}
.ic-037 { background-position: -306px -153px;}
.ic-038 { background-position: -357px -153px;}
.ic-039 { background-position: -408px -153px;}
.ic-040 { background-position: -459px -153px;}
.ic-041 { background-position: 0 -204px;}
.ic-042 { background-position: -51px -204px;}
.ic-043 { background-position: -102px -204px;}
.ic-044 { background-position: -153px -204px;}
.ic-045 { background-position: -204px -204px;}
.ic-046 { background-position: -255px -204px;}
.ic-047 { background-position: -306px -204px;}
.ic-048 { background-position: -357px -204px;}
.ic-049 { background-position: -408px -204px;}
.ic-050 { background-position: -459px -204px;}
.ic-051 { background-position: 0 -255px;}
.ic-052 { background-position: -51px -255px;}
.ic-053 { background-position: -102px -255px;}
.ic-054 { background-position: -153px -255px;}
.ic-055 { background-position: -204px -255px;}
.ic-056 { background-position: -255px -255px;}
.ic-057 { background-position: -306px -255px;}
.ic-058 { background-position: -357px -255px;}
.ic-059 { background-position: -408px -255px;}
.ic-060 { background-position: -459px -255px;}
.ic-061 { background-position: 0 -306px;}
.ic-062 { background-position: -51px -306px;}
.ic-063 { background-position: -102px -306px;}
.ic-064 { background-position: -153px -306px;}
.ic-065 { background-position: -204px -306px;}
.ic-066 { background-position: -255px -306px;}
.ic-067 { background-position: -306px -306px;}
.ic-068 { background-position: -357px -306px;}
.ic-069 { background-position: -408px -306px;}
.ic-070 { background-position: -459px -306px;}
.ic-071 { background-position: 0 -357px;}
.ic-072 { background-position: -51px -357px;}
.ic-073 { background-position: -102px -357px;}
.ic-074 { background-position: -153px -357px;}
.ic-075 { background-position: -204px -357px;}
.ic-076 { background-position: -255px -357px;}
.ic-077 { background-position: -306px -357px;}
.ic-078 { background-position: -357px -357px;}
.ic-079 { background-position: -408px -357px;}
.ic-080 { background-position: -459px -357px;}
.ic-081 { background-position: 0 -408px;}
.ic-082 { background-position: -51px -408px;}
.ic-083 { background-position: -102px -408px;}
.ic-084 { background-position: -153px -408px;}
.ic-085 { background-position: -204px -408px;}
.ic-086 { background-position: -255px -408px;}
.ic-087 { background-position: -306px -408px;}
.ic-088 { background-position: -357px -408px;}
.ic-089 { background-position: -408px -408px;}
.ic-090 { background-position: -459px -408px;}
.ic-091 { background-position: 0 -459px;}
.ic-092 { background-position: -51px -459px;}
.ic-093 { background-position: -102px -459px;}
.ic-094 { background-position: -153px -459px;}
.ic-095 { background-position: -204px -459px;}
.ic-096 { background-position: -255px -459px;}
.ic-097 { background-position: -306px -459px;}
.ic-098 { background-position: -357px -459px;}
.ic-099 { background-position: -408px -459px;}
.ic-100 { background-position: -459px -459px;}