/******
((a)=>{
let i,b = {};
for(i=0;i<a.length;i++){b[a[i]] = i;}
console.log(JSON.stringify(b));
})([null, 
    "火ダメージ軽減", "水ダメージ軽減", "木ダメージ軽減", "光ダメージ軽減", "闇ダメージ軽減", "HP強化", "覚醒アシスト", "HP80％以上強化", 
    "火ドロップ強化", "水ドロップ強化", "木ドロップ強化", "光ドロップ強化", "闇ドロップ強化", "攻撃強化", "超追加攻撃", "HP50％以下強化", 
    "火属性強化", "水属性強化", "木属性強化", "光属性強化", "闇属性強化", "回復強化", "スキルチャージ", "L字消し軽減", 
    "自動回復", "バインド耐性", "バインド回復", "暗闇耐性", "お邪魔耐性", "毒耐性", "バインド耐性+", "L字消し攻撃", 
    "操作時間延長", "スキルブースト", "2体攻撃", "封印耐性", "回復ドロップ強化", "マルチブースト", "操作時間延長+", "超コンボ強化", 
    "神キラー", "ドラゴンキラー", "悪魔キラー", "マシンキラー", "バランスキラー", "攻撃キラー", "雲耐性", "コンボドロップ", 
    "体力キラー", "回復キラー", "進化用キラー", "能力覚醒用キラー", "強化合成用キラー", "売却用キラー", "操作不可耐性", "スキルボイス", 
    "コンボ強化", "ガードブレイク", "追加攻撃", "チームHP強化", "チーム回復強化", "ダメージ無効貫通", "スキルブースト+", "ダンジョンボーナス"
])
*/
.icon-kakusei {
    display: inline-block;
    /* width: 31px; height: 31px; */
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-image: url('../images/EGGS.png');
    background-repeat: no-repeat;
    background-position: 25px 25px;
    /* background-size: 1024px 512px; */
    background-size: 792.77px auto;
    &.ik-0 {
        &:not(:last-child) {
            width: 0; height: 0;
        }
        background-position: 24px 24px;
    }
    &.ik-1 {
        // background-position: -722px -110px;
        background-position: -558.96px -85.16px;
    }
    &.ik-2 {
        // background-position: -758px -110px;
        background-position: -586.83px -85.16px;
    }
    &.ik-3 {
        // background-position: -794px -110px;
        background-position: -614.70px -85.16px;
    }
    &.ik-4 {
        // background-position: -830px -110px;
        background-position: -642.58px -85.16px;
    }
    &.ik-5 {
        // background-position: -866px -110px;
        background-position: -670.45px -85.16px;
    }
    &.ik-6 {
        // background-position: -614px -470px;
        background-position: -475.35px -363.87px;
    }
    &.ik-7 {
        // background-position: -722px -254px;
        background-position: -558.96px -196.64px;
    }
    &.ik-8 {
        // background-position: -794px -218px;
        background-position: -614.70px -168.77px;
    }
    &.ik-9 {
        // background-position: -650px -218px;
        background-position: -503.22px -168.77px;
    }
    &.ik-10 {
        // background-position: -650px -254px;
        background-position: -503.22px -196.64px;
    }
    &.ik-11 {
        // background-position: -650px -290px;
        background-position: -503.22px -224.51px;
    }
    &.ik-12 {
        // background-position: -650px -326px;
        background-position: -503.22px -252.38px;
    }
    &.ik-13 {
        // background-position: -650px -362px;
        background-position: -503.22px -280.25px;
    }
    &.ik-14 {
        // background-position: -650px -110px;
        background-position: -503.22px -85.16px;
    }
    &.ik-15 {
        // background-position: -722px -290px;
        background-position: -558.96px -224.51px;
    }
    &.ik-16 {
        // background-position: -830px -218px;
        background-position: -642.58px -168.77px;
    }
    &.ik-17 {
        // background-position: -686px -146px;
        background-position: -531.09px -113.03px;
    }
    &.ik-18 {
        // background-position: -722px -146px;
        background-position: -558.96px -113.03px;
    }
    &.ik-19 {
        // background-position: -758px -146px;
        background-position: -586.83px -113.03px;
    }
    &.ik-20 {
        // background-position: -794px -146px;
        background-position: -614.70px -113.03px;
    }
    &.ik-21 {
        // background-position: -830px -146px;
        background-position: -642.58px -113.03px;
    }
    &.ik-22 {
        // background-position: -686px -110px;
        background-position: -531.09px -85.16px;
    }
    &.ik-23 {
        // background-position: -722px -326px;
        background-position: -558.96px -252.38px;
    }
    &.ik-24 {
        // background-position: -866px -218px;
        background-position: -670.45px -168.77px;
    }
    &.ik-25 {
        // background-position: -902px -110px;
        background-position: -698.32px -85.16px;
    }
    &.ik-26 {
        // background-position: -938px -110px;
        background-position: -726.19px -85.16px;
    }
    &.ik-27 {
        // background-position: -650px -434px;
        background-position: -503.22px -336.00px;
    }
    &.ik-28 {
        // background-position: -974px -110px;
        background-position: -754.06px -85.16px;
    }
    &.ik-29 {
        // background-position: -650px -146px;
        background-position: -503.22px -113.03px;
    }
    &.ik-30 {
        // background-position: -650px -182px;
        background-position: -503.22px -140.90px;
    }
    &.ik-31 {
        // background-position: -722px -362px;
        background-position: -558.96px -280.25px;
    }
    &.ik-32 {
        // background-position: -902px -218px;
        background-position: -698.32px -168.77px;
    }
    &.ik-33 {
        // background-position: -650px -398px;
        background-position: -503.22px -308.12px;
    }
    &.ik-34 {
        // background-position: -650px -470px;
        background-position: -503.22px -363.87px;
    }
    &.ik-35 {
        // background-position: -866px -146px;
        background-position: -670.45px -113.03px;
    }
    &.ik-36 {
        // background-position: -902px -146px;
        background-position: -698.32px -113.03px;
    }
    &.ik-37 {
        // background-position: -938px -146px;
        background-position: -726.19px -113.03px;
    }
    &.ik-38 {
        // background-position: -974px -146px;
        background-position: -754.06px -113.03px;
    }
    &.ik-39 {
        // background-position: -722px -398px;
        background-position: -558.96px -308.12px;
    }
    &.ik-40 {
        // background-position: -938px -218px;
        background-position: -726.19px -168.77px;
    }
    &.ik-41 {
        // background-position: -686px -218px;
        background-position: -531.09px -168.77px;
    }
    &.ik-42 {
        // background-position: -686px -182px;
        background-position: -531.09px -140.90px;
    }
    &.ik-43 {
        // background-position: -686px -254px;
        background-position: -531.09px -196.64px;
    }
    &.ik-44 {
        // background-position: -686px -290px;
        background-position: -531.09px -224.51px;
    }
    &.ik-45 {
        // background-position: -686px -326px;
        background-position: -531.09px -252.38px;
    }
    &.ik-46 {
        // background-position: -686px -362px;
        background-position: -531.09px -280.25px;
    }
    &.ik-47 {
        // background-position: -722px -434px;
        background-position: -558.96px -336.00px;
    }
    &.ik-48 {
        // background-position: -974px -218px;
        background-position: -754.06px -168.77px;
    }
    &.ik-49 {
        // background-position: -686px -398px;
        background-position: -531.09px -308.12px;
    }
    &.ik-50 {
        // background-position: -686px -434px;
        background-position: -531.09px -336.00px;
    }
    &.ik-51 {
        // background-position: -686px -470px;
        background-position: -531.09px -363.87px;
    }
    &.ik-52 {
        // background-position: -722px -182px;
        background-position: -558.96px -140.90px;
    }
    &.ik-53 {
        // background-position: -758px -182px;
        background-position: -586.83px -140.90px;
    }
    &.ik-54 {
        // background-position: -794px -182px;
        background-position: -614.70px -140.90px;
    }
    &.ik-55 {
        // background-position: -722px -470px;
        background-position: -558.96px -363.87px;
    }
    &.ik-56 {
        // background-position: -758px -254px;
        background-position: -586.83px -196.64px;
    }
    &.ik-57 {
        // background-position: -830px -182px;
        background-position: -642.58px -140.90px;
    }
    &.ik-58 {
        // background-position: -866px -182px;
        background-position: -670.45px -140.90px;
    }
    &.ik-59 {
        // background-position: -902px -182px;
        background-position: -698.32px -140.90px;
    }
    &.ik-60 {
        // background-position: -938px -182px;
        background-position: -726.19px -140.90px;
    }
    &.ik-61 {
        // background-position: -974px -182px;
        background-position: -754.06px -140.90px;
    }
    &.ik-62 {
        // background-position: -722px -218px;
        background-position: -558.96px -168.77px;
    }
    &.ik-63 {
        // background-position: -758px -218px;
        background-position: -586.83px -168.77px;
    }
    &.ik-64 {
        // background-position: -758px -290px;
        background-position: -586.83px -224.51px;
    }
}