@import url('https://fonts.googleapis.com/css?family=Imprima');
@import url('https://fonts.googleapis.com/css?family=Noto Sans JP');
@import '_icon.scss';
@media (min-width: 1450px) {
    .container {
        max-width: 1380px;
    }
}
body {
    height: 100%;
    font-family: Imprima, 'Noto Sans JP';
    background-color: #343a40 !important;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-image: url('https://pics.prcm.jp/a538fc10cb21a/47076940/jpeg/47076940.jpeg'); */
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;
        opacity: .3;
    }
}
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    opacity: .5;
    z-index: 2000;
}
nav #collapseNews {
    position: absolute;
    width: auto;
    top: calc(100% + 0.3125rem);
    right: 0.3125rem;
    background-color: transparent;
    z-index: 500;
    img {
        width: 250px;
        height: auto;
    }
}
.modal.fade:not(.show).right .modal-dialog {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
.modal.fade:not(.show).left .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.input-group .custom-select {
    width: auto;
    padding: 0 1.75rem 0 0.25rem;
    background-color: transparent;
    background-position-x: right 0.3rem;
}

.sort-item.filtered {
    display: none !important;
}
.sort-style-icon {
    flex-direction: row;
    .card {
        margin: 0.25rem;
        padding: 0;
        width: auto;
        height: auto;
        border: 0;
        cursor: pointer;
        .resultcardintro {
            display: block;
            text-align: center;
        }
        .resultcarddetail {
            display: none;
        }
        &.resultalt::before {
            content : attr(data-name);
            position : absolute;
            opacity : 0;
            /* customizable */
            bottom: 0;
            margin-bottom: 61px;
            margin-left: 50%;
            padding: 4px 8px;
            transition: all 0.15s ease;
            border-radius: 3px;
            white-space: nowrap;
            transform: translateX(-50%);
            z-index: 3;
            pointer-events: none;
        }
        &.resultalt:focus::before,
        &.resultalt:active::before,
        &.resultalt:hover::before {
            opacity : 1;
            /* customizable */
            margin-bottom: 81px;
            color: white;
            background: black;
            border: 1px solid black;
        }
        &.resultalt::after {
            content : '';
            position : absolute;
            bottom: 0;
            margin-bottom: 54px;
            margin-left: 50%;
            border-top: 7px solid black;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            transition: all 0.15s ease;
            transform: translateX(-50%);
            opacity : 0;
        }
        &.resultalt:focus::after,
        &.resultalt:active::after,
        &.resultalt:hover::after {
            margin-bottom: 74px;
            opacity : 1;
        }
    }
}
.sort-style-list {
    flex-direction: column;
    .card {
        margin: 0 0 0.25rem 0;
        padding: 0 0.5rem 0 0.25rem;
        width: 100%;
        height: auto;
        flex-direction: row;
        .resultcardintro {
            display: none;
        }
        .resultcarddetail {
            display: flex;
            padding: 0 1rem;
            flex: 1 1 auto;
            flex-direction: column;
        }
    }
}
.resultcardpic {
    margin: 0.25rem;
    width: 50px;
    height: 50px;
}









/** custom Bootstrap Like**/
.right-0 { right: 0; }
.cursor-point { cursor: pointer; }
.cursor-notallow { cursor: not-allowed; }
.less-gutters > .col,
.less-gutters > [class*="col-"] {
    padding-right: .3rem;
    padding-left: .3rem;
}



.AA-hand-1 {
    display: inline-block;
    position: relative;
    &::before {
        content: '';
        animation: changeHand-1 .2s linear infinite alternate;
    }
}
.AA-hand-2 {
    display: inline-block;
    position: relative;
    &::before {
        content: '';
        animation: changeHand-2 .2s linear infinite alternate;
    }
}
@keyframes changeHand-1 {
    0% { content: '」'; }
    100% { content: '／'; }
}
@keyframes changeHand-2 {
    0% { content: '／'; }
    100% { content: '」'; }
}
.AA-hand-r-1 {
    display: inline-block;
    position: relative;
    transform:scaleX(-1);
    &::before {
        content: '';
        animation: changeHand-1 .2s linear infinite alternate;
    }
}
.AA-hand-r-2 {
    display: inline-block;
    position: relative;
    transform:scaleX(-1);
    &::before {
        content: '';
        animation: changeHand-2 .2s linear infinite alternate;
    }
}

/**  loading-ring  **/
.loading-ring {
    display: inline-block;
    width: 90px;
    height: 90px;
}
.loading-ring::before,
.loading-ring::after {
    content: ' ';
    display: block;
    position: absolute;
    border-style: solid;
    border-color: #000 transparent #000 transparent;
    border-radius: 50%;
}
.loading-ring::before {
    margin: 30px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    animation: loading-ring-r .8s linear infinite;
}
.loading-ring::after {
    width: 90px;
    height: 90px;
    border-width: 15px;
    animation: loading-ring .8s linear infinite;
}
@keyframes loading-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes loading-ring-r {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
